{
  "openapi": "3.0.3",
  "info": {
    "title": "HeadHunter API minimal test fixture",
    "version": "fixture"
  },
  "servers": [
    {
      "url": "https://api.hh.ru"
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://hh.ru/oauth/authorize",
            "tokenUrl": "https://hh.ru/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "Vacancy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Vacancy ID."
          },
          "name": {
            "type": "string",
            "description": "Vacancy name."
          }
        }
      },
      "VacancySearchResponse": {
        "type": "object",
        "required": ["items", "found"],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vacancy"
            },
            "description": "Vacancy collection."
          },
          "found": {
            "type": "integer",
            "description": "Found vacancies count."
          },
          "page": {
            "type": "integer",
            "description": "Current page."
          },
          "pages": {
            "type": "integer",
            "description": "Total pages."
          },
          "per_page": {
            "type": "integer",
            "description": "Items per page."
          }
        }
      },
      "CurrentUserResponse": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string",
            "description": "User ID."
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "User email."
          }
        }
      }
    }
  },
  "paths": {
    "/vacancies": {
      "get": {
        "tags": ["Vacancies"],
        "operationId": "get-vacancies",
        "summary": "Search vacancies.",
        "security": [],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search text."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Items per page."
          }
        ],
        "responses": {
          "200": {
            "description": "Vacancy search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VacancySearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": ["Current user"],
        "operationId": "get-current-user-info",
        "summary": "Get current user information.",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Managed Authorization header."
          },
          {
            "name": "HH-User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "User controlled HeadHunter user agent header."
          }
        ],
        "responses": {
          "200": {
            "description": "Current user information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentUserResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
